<div class="header-wrapper home">
  <div class="header-holder">
    <h1 id="logo"><a href="/">Храм святих Косьми та Даміана</a></h1>

    <div class="nav">
      <ul class="menu menu_blue">
        <li class="active"><%= link_to "Головна", "#" %></li>
        <li class="fullwidth"><a href="about.html" class="drop">Про церкву</a>

          <div class="dropdown_fullwidth first_fullwidth">
            <div class="col_2 firstcolumn">
              <div class="inner-col">
                <%= image_tag "ch-25.jpg", :alt => "" %>
                <h2>John</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
              <div class="inner-col">
                <%= image_tag "ch-27.jpg", :alt => "" %>
                <h2>Mark</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
            </div>
            <div class="col_2">
              <h2>About Us</h2>

              <div class="col_1 firstcolumn">
                <ul>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="sermons.html">Sermons</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fullwidth"><a href="church-event.html" class="drop">Події</a>

          <div class="dropdown_fullwidth first_fullwidth">
            <div class="col_2 firstcolumn">
              <div class="inner-col">
                <%= image_tag "ch-25.jpg", :alt => "" %>
                <h2>John</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
              <div class="inner-col">
                <%= image_tag "ch-25.jpg", :alt => "" %>
                <h2>Mark</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
            </div>
            <div class="col_2">
              <h2>Events</h2>

              <div class="col_1 firstcolumn">
                <ul>
                  <li><a href="event-detail.html">Event Detail</a></li>
                  <li><a href="event-venue.html">Event Venue</a></li>
                  <li><a href="news.html" class="drop">Latest News</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fullwidth"><a href="blog.html" class="drop">Блог</a>

          <div class="dropdown_fullwidth first_fullwidth">
            <div class="col_2 firstcolumn">
              <div class="inner-col">
                <%= image_tag "ch-36.jpg", :alt => "" %>
                <h2>John</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
              <div class="inner-col">
                <%= image_tag "ch-29.jpg", :alt => "" %>
                <h2>Mark</h2>

                <p>vore veritatis et quasi itecto veritatis et quasi itecto</p>
              </div>
            </div>
            <div class="col_2">
              <h2>Blog</h2>

              <div class="col_1 firstcolumn">
                <ul class="plus">
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog-post.html">Blog Post</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fullwidth"><a href="gallery.html" class="drop">Галерея</a>

          <div class="dropdown_fullwidth first_fullwidth">
            <div class="col_2 firstcolumn">
              <div class="inner-col">
                <%= image_tag "ch-28.jpg", :alt => "" %>
                <%= image_tag "ch-29.jpg", :alt => "" %>
                <%= image_tag "ch-30.jpg", :alt => "" %>
                <%= image_tag "ch-31.jpg", :alt => "" %>
                <%= image_tag "ch-32.jpg", :alt => "" %>
                <%= image_tag "ch-33.jpg", :alt => "" %>
                <%= image_tag "ch-34.jpg", :alt => "" %>
                <%= image_tag "ch-35.jpg", :alt => "" %>
              </div>
            </div>
            <div class="col_2">
              <h2>Gallery</h2>

              <div class="col_1 firstcolumn">
                <ul class="plus">
                  <li><a href="gallery-singlepost.html">Gallery Column 1</a></li>
                  <li><a href="gallery-2.html"> Gallery Column 2</a></li>
                  <li><a href="gallery-3.html"> Gallery Column 3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fullwidth"><a href="#" class="drop">Цікаві сторінки</a>

          <div class="dropdown_fullwidth first_fullwidth">
            <div class="col_2 firstcolumn">
              <div class="inner-col">
                <iframe src="http://player.vimeo.com/video/8282393?badge=0" width="300" height="200" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
            <div class="col_2">
              <h2>All Pages</h2>

              <div class="col_1 firstcolumn">
                <ul class="plus">
                  <li><a href="prayer-wall.html">Prayer Wall</a></li>
                  <li><a href="video.html">Videos</a></li>
                  <li><a href="prayer-request.html">Prayer Request</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="404.html">404</a></li>
                  <li><a href="short-code.html">Short Code</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="fullwidth">
        <li><a href="contact-us.html" class="drop">Контакти</a>

          <div class="dropdown_fullwidth first_fullwidth" id="contact-drop">
            <div class="col_2 firstcolumn">
              <h2>Contact Us</h2>

              <div class="col_1 firstcolumn">
                <form action="contact-form-1.php" method="post" name="contactform">
                  <fieldset>
                    <div class="row-contact">
                      <label>Name</label>
                      <input name="first_name" type="text" value="">
                    </div>
                    <div class="row-contact">
                      <label>Email</label>
                      <input name="email" type="text" value="">
                    </div>
                    <div class="row-contact">
                      <label>Message</label>
                      <textarea name="comments" id="comments" rows="42" cols="42"></textarea>
                    </div>
                    <input name="submit" type="submit" value="SUBMIT" class="submit-1">
                  </fieldset>
                </form>
                <ul class="blog-networks">
                  <li><a href="#" class="blog-twitter">twitter</a></li>
                  <li><a href="#" class="blog-flicker">flicker</a></li>
                  <li><a href="#" class="blog-facebook">facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <form action="dummy" method="post">
        <select name="choice" size="1" onChange="jump(this.form)" class="chzn-results">
          <option value="index.html">home</option>
          <option value="about.html">About</option>
          <option value="church-event.html">Events</option>
          <option value="event-detail.htm.html"> - Event Detai</option>
          <option value="event-venue.html"> - Event Venue</option>
          <option value="news.html">Latest News</option>
          <option value="blog.html"> - Blog</option>
          <option value="blog-post.html"> - Blog Post</option>
          <option value="news-pos.html"> - News Post</option>
          <option value="gallery.html">Gallery</option>
          <option value="gallery-singlepost.html.html"> - Gallery Template 1</option>
          <option value="gallery-2.html"> - Gallery Template 2</option>
          <option value="gallery-3.html"> - Gallery Template 3</option>
          <option value="#">Pages</option>
          <option value="prayer-wall.html">prayer wall</option>
          <option value="prayer-wall.html"> - Prayer Wall</option>
          <option value="prayer-request.html"> - prayer request</option>
          <option value="service.html"> - Service</option>
          <option value="404.html"> - 404</option>
          <option value="team.html"> - team</option>
          <option value="timeline.html"> - Timeline</option>
          <option value="sermons.html"> - Sermons</option>
          <option value="video.html"> - Video</option>
          <option value="short-code.html"> - short-code</option>
          <option value="contact-us.html">contact</option>
        </select>
      </form>
    </div>
  </div>
</div>
