<div class="wrapper">
  <!-- header -->
  <div class="main">
    <div class="head-banner">
    <%= render 'shared/header' %>
    <%= render 'shared/slideshow' %>
    </div>
    <!-- Content -->
    <div class="content mt0">
      <article class="banner-bottom">
        <h2>Будівництво храму</h2>
        <span class="detail">святих Косьми та Даміана</span>
      </article>
      <section class="grid-holder">
        <section class="grid">
          <div class="heading-holder">
            <h3 class="content-heading">
              <span><em class="h-left"></em><span class="inner-heading">OUR services</span><em class="h-right"></em>  </span>
            </h3>
          </div>
          <article class="column c-one-fourth service-box">
            <div class="new-box">
              <div class="ch-item ch-img-1">
                <div class="ch-info">
                  <h4><a href="#">Pray To God</a></h4>
                  <p>Ligula ac eros blandit faucibused</p>
                </div>
              </div>
            </div>
            <div class="text">
              <p>Aenean blandit ligula ac eros blandit faucibused orci..</p>
            </div>
          </article>
          <article class="column c-one-fourth service-box">
            <div class="new-box">
              <div class="ch-item ch-img-2">
                <div class="ch-info">
                  <h4><a href="#">KEEP FAITH</a></h4>
                  <p>Ligula ac eros blandit faucibused</p>
                </div>
              </div>
            </div>
            <div class="text">
              <p>Genean blandit ligula ac eros blandit faucibused orci..</p>
            </div>
          </article>
          <article class="column c-one-fourth service-box">
            <div class="new-box">
              <div class="ch-item ch-img-3">
                <div class="ch-info">
                  <h4><a href="#">BLIND TRUST</a></h4>
                  <p>Ligula ac eros blandit faucibused</p>
                </div>
              </div>
            </div>
            <div class="text">
              <p>Blandit ligula ac eros blandit faucibused orci..</p>
            </div>
          </article>
          <article class="column c-one-fourth service-box">
            <div class="new-box">
              <div class="ch-item ch-img-4">
                <div class="ch-info">
                  <h4><a href="#">OBEY RULES</a></h4>
                  <p>Ligula ac eros blandit faucibused</p>
                </div>
              </div>
            </div>
            <div class="text">
              <p>Ligula ac eros blandit faucibused orci..</p>
            </div>
          </article>
        </section>
      </section>
      <section class="grid-holder">
        <section class="grid">
          <div class="heading-holder">
            <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">Наша Галерея</span><em class="h-right"></em></span></h3>
          </div>
          <article class="column c-one-third">
            <div class="img-holder slide-1">
              <a href="gallery-singlepost.html">
                <%= image_tag "/images/main/0.jpg", :alt => "" %>
              </a>
            </div>
          </article>
          <article class="column c-one-third">
            <div class="img-holder slide-1">
              <a href="gallery-singlepost.html">
                <%= image_tag "/images/main/1.jpg", :alt => "" %>
              </a>
            </div>
          </article>
          <article class="column c-one-third">
            <div class="img-holder slide-1">
              <a href="gallery-singlepost.html">
                <%= image_tag "img-3.jpg", :alt => "" %>
              </a>
            </div>
          </article>
        </section>
      </section>
      <div class="buy-now">
        <section class="grid-holder">
          <section class="grid">
            <article class="column c-one-half logo-holder">
              <h2 class="c-logo"><a href="index.html">the church</a></h2>
            </article>
            <article class="column c-one-half"> <span class="c-theme">an extra ordinary and original
              theme for a perfect church.</span> <a href="#" class="buy">buy now</a> </article>
          </section>
        </section>
      </div>
      <div class="heading-holder">
        <h3 class="content-heading"><span><em class="h-left"></em><span class="inner-heading">EVENTS SCHEDULE</span><em class="h-right"></em></span></h3>
      </div>
      <article class="events calender-box">
        <div class="calender">
          <div id="calendar"></div>
        </div>
        <div class="img-details">
          <ul id="s3">
            <li>
              <%= image_tag "ch-2.jpg", :alt => "" %>
              <div class="info-1">
                <div class="left"><span class="info-heading">1- Jesus : an eye into the soul !</span>
                  <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
                <a href="event-detail.html" class="btn-a">Event Details</a> </div>
            </li>
            <li>
              <%= image_tag "calender3.jpg", :alt => "" %>
              <div class="info-1">
                <div class="left"><span class="info-heading">2- Jesus : an eye into the soul !</span>
                  <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
                <a href="event-detail.html" class="btn-a">Event Details</a> </div>
            </li>
            <li>
              <%= image_tag "img-5.jpg", :alt => "" %>
              <div class="info-1">
                <div class="left"><span class="info-heading">3- Jesus : an eye into the soul !</span>
                  <p>Lets create some dummy content here which goes for your outstanding event details. Lorem ipsum dolor sit amet, consectetur...</p>
                </div>
                <a href="event-detail.html" class="btn-a">Event Details</a> </div>
            </li>
          </ul>
        </div>
        <%= image_tag "bottom-shade.png", :alt=>"shade", :class=>"shade" %>
      </article>
      <section class="grid-holder">
        <section class="grid">
          <article class="column c-one-third">
            <div class="post">
              <h4>Про Храм</h4>
              <p>Sed ut perspiciatis unde omnis iste natsit voluptatem accusantium doloremque
                laudantium, totam rem. Sed ut perspiciatis unde omnis iste natus error accusantium doloremque rem.</p>
              <div class="read-more"><a href="church-event.html">Read More</a></div>
            </div>
          </article>
          <article class="column c-one-third">
            <div class="post">
              <ul class="post-slide" id="s1">
                <li>
                  <h4>BLOG POST</h4>
                  <strong class="top-line">Some Longer Blog Post Title Goes Here</strong>
                  <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy aliquam erat volutpat.</p>
                  <span class="tech-text">Posted by St. Patrick in <em>Teachings</em></span></li>
                <li>
                  <h4>BLOG POST 2</h4>
                  <strong class="top-line">Some Longer Blog Post Title Goes Here</strong>
                  <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy aliquam erat volutpat.</p>
                  <span class="tech-text">Posted by St. Patrick in <em>Teachings</em></span></li>
              </ul>
              <a href="#" class="arrow-left">left</a> <a href="#" class="arrow-last-right">right</a> </div>
          </article>
          <article class="column c-one-third">
            <div class="post">
              <h4>Пожертви на будівництво храму</h4>
              <%= image_tag "rating-img.jpg", :alt => "rating" %>
              <span class="rate">$ 6,456,731</span>
              <span class="target"></span>
              <!-- <span class="target">away from target</span> -->
              <div class="read-more generous"><a href="#">Будьте щедрими</a><span>&nbsp;</span></div>
            </div>
          </article>
        </section>
      </section>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
